/* You can add global styles to this file, and also import other style files */
@import "tailwindcss";

#toast-container > div {
  margin-top: 20px;
  border-radius: 0.75rem;
}

.toast-success {
  background-color: #4ade80 !important;
  color: #1a1a1a !important;
}

.toast-error {
  background-color: #f87171 !important;
  color: #1a1a1a !important;
}

.toast-info {
  background-color: #60a5fa !important;
  color: #1a1a1a !important;
}

.toast-warning {
  background-color: #facc15 !important;
  color: #1a1a1a !important;
}

@keyframes fade {
  0% {
    opacity: 0;
    transform: scale(0.95);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}

.animate-fade {
  animation: fade 0.3s ease-in-out;
}
